$primaryColor: #111d40;
$secondaryColor: #e05966;
$tertiaryColor: #ffffff;
$fontFamily: "Roboto", sans-serif;

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $fontFamily;
	margin: 0;
	background-color: $primaryColor;
}
input {
	font-family: $fontFamily;
}
button {
	font-family: $fontFamily;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	margin: 0px 50px;
	color: white;

	nav {
		display: flex;
		align-items: center;
		@media screen and (max-width: 520px) {
			display: none;
		}
		> a {
			color: #848892;
			text-decoration: none;
			margin: 0px 10px;
			padding: 20px 10px;
			height: 100%;
			&:first-child {
				color: white;
				border-bottom: 5px solid $secondaryColor;
			}
		}
	}
}

.selected-movie {
	margin: 30px 50px;
	position: relative;

	.image {
		border-radius: 10px;
		object-fit: cover;
		width: 100%;
		height: 100%;
		height: 500px;
	}
	.info {
		position: absolute;
		background-color: #00000050;
		width: 50%;
		height: 100%;
		left: 0;
		bottom: 0px;
		color: $tertiaryColor;
		padding: 30px 30px;
		border-radius: 10px 0px 0px 10px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		.title {
			font-size: 50px;
			margin-bottom: 20px;
		}
		div {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 30px;
			@media screen and (max-width: 680px) {
				flex-direction: column;
				align-items: flex-start;
				.release {
					margin-top: 10px;
				}
			}
			.release {
				font-size: 20px;
			}
			.score {
				background-color: #fec72b;
				padding: 5px 10px;
				border-radius: 1000px;
				color: black;
				margin-right: 20px;
			}
		}

		@media screen and (max-width: 680px) {
			position: static;
			width: 100%;
			border-radius: 10px;
		}
	}
}
.popular {
	margin: 40px 0px;
	.info {
		margin: 0px 50px 50px 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		h2 {
			color: $tertiaryColor;
			font-size: 30px;
		}

		.search-filter {
			display: flex;
			justify-content: center;
			align-items: center;
			@media screen and (max-width: 923px) {
				justify-content: space-between;
				margin-top: 30px;
				width: 100%;
			}

			input {
				background-color: transparent;
				outline: none;
				border: none;
				border-bottom: 1px solid white;
				padding: 10px;
				margin: 0px 10px;
				color: white;
				width: 300px;
				@media screen and(max-width: 719px) {
					width: 100%;
					margin-bottom: 20px;
				}
			}

			button {
				background-color: $secondaryColor;
				color: white;
				padding: 10px;
				outline: none;
				border: none;
				border-radius: 10px;
				cursor: pointer;
				margin: 0px 10px;
			}

			select {
				background-color: $secondaryColor;
				color: white;
				padding: 8px 15px;
				border-radius: 10px;
				cursor: pointer;
				margin: 0px 10px;
			}

			@media screen and(max-width: 719px) {
				flex-direction: column;
				align-items: flex-start;
				> * {
					margin-top: 10px;
				}
			}
		}

		@media screen and (max-width: 923px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}
.movies {
	// display: grid;
	padding: 20px 50px;
	// grid-template-columns: repeat(5, 1fr);
	// grid-template-rows: 500px;
	// gap: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	@media screen and (max-width: 630px) {
		padding: 20px 10px;
	}
	.movie {
		cursor: pointer;
		word-wrap: break-word;
		margin: 0px 15px;
		// grid-column: span 1;
		flex-basis: 230px;
		height: 500px;
		img {
			width: 100%;
			border-radius: 10px;
		}
		.info {
			color: $secondaryColor;
			margin: 10px 0px;
		}
		.score {
			background-color: #fec72b;
			font-size: 16px;
			padding: 5px 8px;
			border-radius: 1000px;
			color: black;
			width: 40px;
			margin: 10px 0px;
			text-align: center;
		}
		.title {
			color: $tertiaryColor;
			font-size: 20px;
			margin: 10px 0px;
		}
	}
}

.overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.3;
}

.hidden {
	display: none;
}

.add-movie-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 500px;
	padding: 20px 30px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	label {
		width: 80%;
		margin: 10px 0px;
	}
	input {
		display: block;
		width: 100%;
		padding: 5px 10px;
	}

	button {
		padding: 10px 20px;
		background-color: $secondaryColor;
		color: white;
		border-radius: 10px;
		outline: none;
		border: none;
	}
}

.pages {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	button {
		margin: 0px 10px;
		padding: 10px;
		border: 1px solid $secondaryColor;
		border-radius: 10px;
		color: $secondaryColor;
		background-color: $primaryColor;
		cursor: pointer;
		&.current {
			background-color: $secondaryColor;
			color: white;
		}
		&:disabled {
			border-color: #ffffff20;
			color: #ffffff20;
		}
	}
}
