body {
	font-family: "Roboto", sans-serif;
	margin: 0;
}
input {
	font-family: "Roboto", sans-serif;
}
button {
	font-family: "Roboto", sans-serif;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: #f25659;
	color: white;
}

.header-components {
	display: flex;
	align-items: center;
}
.header-components > * {
	margin: 0px 10px;
	padding: 5px 10px;
}

.selected-movie {
	display: flex;
	margin: 30px 20px;
	border: 1px solid #f25659;
}
.selected-movie div {
	margin: 10px 50px;
}

.movies {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.movie {
	text-align: center;
	cursor: pointer;
	word-wrap: break-word;
	flex-basis: 220px;
}

img {
	width: 200px;
}
